@tailwind base;
@tailwind components;
@tailwind utilities;

:root.dark{
    --color-page-background: #222532;
}

.radix-themes{
    --cursor-button: pointer;
}

body{
    height: 100vh;
    margin: 0;
    filter: brightness(1.2);
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
}

.main-video {
    margin: 0 auto;
    aspect-ratio: 16 / 8.97;
    padding: 15px;
    object-fit: cover;
}

.main-video-mask {

}

@screen md {
    .main-video {
        object-fit: cover;
        height: 300px;
        position: absolute;
        top: 0;
        left: 430px;
        width: 540px;
        z-index: -1;
        padding: 0;
    }

    .main-video-mask {
        width: 350px;
        height: 300px;
    }
}

.dark .main-video {
    filter: invert(1);
}

.jonatas.ol {
    list-style: decimal;
}

.jonatas.ul {
    list-style: disc;
}

.jonatas.li {
    margin-left: 14px;
}

.career{
    
}

.social {
    display: flex;
}

.social svg{
    width: 21px;
    height: 21px;
    color: var(--accent-9)
}